.main-img {
  background-image: url(/images/main/main_main.jpg);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.main-img-caption {
  color: black;
  border-top: 4px red solid;
  margin-top: -60px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: blur(20px);
  /* background-image: linear-gradient(
    rgba(140, 138, 138, 0.75),
    rgba(255, 255, 255, 1)
  ); */
  /* background-image: linear-gradient(
    rgba(255, 253, 253, 0.705),
    rgb(239, 232, 232, 1)
  ); */
}

.middle-wrapper {
  margin-top: 500px;
}
.img-2 {
  background-image: url(/images/main/main1.png);
  height: 300px;
}

.img-2-caption {
  background-color: chartreuse;
}

.img-3 {
  background-image: url(/images/main/main2.jpg);
  height: 300px;
}

.img-3-caption {
  background-color: greenyellow;
}

li::marker {
  color: red;
}
/* 
.list-group-item::before {
  content: "●";
  margin-right: 0.75rem;
}
ul li::marker {
  content: ".";
  color: red;
  font-size: 1.5em;
} */
