.main-img {
  background-image: url(/images/main/main_main.jpg);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-img-caption {
  color: black;
  border-top: 4px red solid;
  margin-top: -85px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5) 0,
    #fff 50%,
    #ffffff 100%
  );
}

.middle-wrapper {
  margin-top: 500px;
}
.img-2 {
  background-image: url(/images/main/main1.png);
  height: 300px;
}

.img-2-caption {
  background-color: chartreuse;
}

.img-3 {
  background-image: url(/images/main/main2.jpg);
  height: 300px;
}

.img-3-caption {
  background-color: greenyellow;
}

/* 
.list-group-item::before {
  content: "●";
  margin-right: 0.75rem;
}
ul li::marker {
  content: ".";
  color: red;
  font-size: 1.5em;
} */
